:root {
  --bg-color1: #8dbcc7;
  --bg-color2: #2a2b2d;
  --bg-color3: #a4ccd9;
  --aqi-1: #d4e157;
  --aqi-2: #ffee58;
  --aqi-3: #ffca28;
  --aqi-4: #ff7043;
  --aqi-5: #ef5350;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color1);
  color: #213448;
  font-family: sans-serif;
  padding: 0 15px;
}
hr {
  margin-bottom: 10px;
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 15px 0;
  & #city-input {
    background-color: var(--bg-color3);
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 15px;
    color: #213448;
    &:focus {
      outline: none;
    }
  }
  & #searchBtn {
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
  }
  & #locationBtn {
    color: #ffffff;
    border: none;
    font-size: 16px;
    padding: 12px;
    border-radius: 15px;
    background-color: #181c37;
    cursor: pointer;
  }
}

.card {
  background-color: var(--bg-color3);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  & p {
    font-size: 14px;
    color: #213448;
  }
  & h2 {
    font-size: 32px;
    font-weight: 500;
  }
}

.weather-data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  & .weather-left {
    grid-column: span 1;
    & .current-weather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      & h2 {
        margin: 7px 0;
      }
      & p {
        color: #213448;
      }
    }
    & .card-footer p {
      font-size: 14px;
      margin-bottom: 12px;
    }
    & .forecast-item {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;
      margin-bottom: 15px;
      & .icon-wrapper {
        display: flex;
        align-items: center;
      }
    }
  }
  & .weather-right {
    grid-column: span 3;
    & h2 {
      margin-bottom: 10px;
    }
    & .highlights {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 15px;
      & .card:nth-of-type(1),
      & .card:nth-of-type(2) {
        grid-column: span 2;
      }
      & .card-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        & .air-index {
          color: #000;
          padding: 5px 10px;
          border-radius: 15px;
          &.aqi-1 {
            background-color: var(--aqi-1);
          }
          &.aqi-2 {
            background-color: var(--aqi-2);
          }
          &.aqi-3 {
            background-color: var(--aqi-3);
          }
          &.aqi-4 {
            background-color: var(--aqi-4);
          }
          &.aqi-5 {
            background-color: var(--aqi-5);
          }
        }
      }
      & .air-indices {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        & p {
          text-align: center;
        }
      }
      & .sunrise-sunset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        & .item {
          display: flex;
          align-items: center;
          gap: 10px;
          & h2 {
            margin-top: 15px;
          }
        }
      }
      & .card-item {
        display: flex;
        justify-content: space-between;
      }
    }
    & .hourly-forecast {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      column-gap: 10px;
      & .card {
        text-align: center;
      }
    }
  }
}

.card-profil {
  text-align: center;
  background-color: var(--bg-color3);
  color: #213448;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  margin: 15px 0;
  overflow: hidden;
}

.card-header {
  background-color: var(--bg-color3);
  padding: 12px 20px;
  font-size: 12px;
  font-weight: bold;
}

.card-body {
  padding: 10px;
}

.card-text {
  color: #213448;
  margin-bottom: 15px;
  font-size: 12px;
}

.btn {
  background-color: #ff7a00;
  color: #ffffff;
  padding: 4px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 10px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e06a00;
}

.footer {
  background-color: var(--bg-color3);
  padding: 12px 20px;
  font-size: 10px;
  border-top: 1px solid #3a3a4d;
  color: #213448;
}

.custom-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.custom-modal.active {
  display: flex;
  animation: fadeInOverlay 0.3s ease-in-out;
}

@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Modal Box */
.modal-content {
  background-color: var(--bg-color1);
  color: #072b4b;
  padding: 20px 30px;
  border-radius: 12px;
  max-width: 700px;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #072b4b;
  cursor: pointer;
}

.close-btn:hover {
  color: #051f35;
}

.modal-title {
  margin-bottom: 16px;
  color: #072b4b;
  font-size: 1.4rem;
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #072b4b;
}

.modal-body p {
  margin: 8px 0;
  font-size: 0.95rem;
  color: #072b4b;
}

.modal-body a {
  color: #072b4b;
  text-decoration: none;
}
.modal-body a:hover {
  text-decoration: underline;
}

@media (max-width: 1100px) {
  .weather-data {
    grid-template-columns: repeat(3, 1fr);
    & .weather-right {
      grid-column: span 2;
      & .highlights {
        grid-template-columns: repeat(3, 1fr);
        & .card:nth-of-type(1) {
          grid-column: span 3;
        }
      }
      & .hourly-forecast {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}
@media (max-width: 1040px) {
  .weather-data {
    grid-template-columns: repeat(2, 1fr);
    & .weather-right {
      grid-column: span 1;
      & .highlights {
        grid-template-columns: repeat(2, 1fr);
        & .card:nth-of-type(1) {
          grid-column: span 2;
        }
      }
      & .hourly-forecast {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
@media (max-width: 992px) {
  .weather-data .weather-right .highlights {
    & .card {
      grid-column: span 2;
    }
    & .air-indices {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 850px) {
  .weather-data {
    grid-template-columns: 1fr;
    & .weather-right .highlights {
      & .card:nth-of-type(3),
      & .card:nth-of-type(4),
      & .card:nth-of-type(5),
      & .card:nth-of-type(6),
      & .card:nth-of-type(7) {
        grid-column: span 1;
      }
      & .air-indices {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
@media (max-width: 660px) {
  .header {
    flex-direction: column;
    & h2 {
      margin-bottom: 8px;
    }
    & #city_input,
    #searcheBtn,
    #locationBtn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 580px) {
  .weather-data .weather-right .highlights .air-indices {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 520px) {
  .weather-data .weather-right .highlights {
    & .card:nth-of-type(3),
    & .card:nth-of-type(4),
    & .card:nth-of-type(5),
    & .card:nth-of-type(6),
    & .card:nth-of-type(7) {
      grid-column: span 2;
    }
    & .air-indices {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 480px) {
  .weather-data .weather-right .highlights .sunrise-sunset {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 450px) {
  .weather-data .weather-right .hourly-forecast {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 380px) {
  .weather-data .weather-right .highlights .air-indices {
    grid-template-columns: repeat(2, 1fr);
  }
}
